.videodemocontainer{
	width: 100%;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.videodiv{
	width: 50%;
	height: 80%;
	background-color: red;
}
.videodiv iframe{
	width: 100%;
	height: 100%;
}
@media (max-width:1440px){
	.videodiv{
		width: 100%;
	}
}
body{
	overflow: hidden;
}